.coin-dynamic:hover {
    background-color: #343a40;
    color: white;
    text-decoration: none;
}

a:link {
	text-decoration: none;
    color: #C5C6C7;

}

a:visted {
	text-decoration: none;
    color: #C5C6C7;

}

.coin-link {
    color: #C5C6C7;
}
/* 
.negative { color : red; }
.positive { color : green; } */
